h1 {
	text-align: center;
}

body {
    font-family: sans-serif;
    padding: 10px;
}

.error {
    color: red;
}

label {
    display: block;
    font-size: 20px;
}

textarea {
    width: 400px;
    height: 200px;
    font-size: 17px;
    font-family: monospace;
}

input[type=submit] {
    font-size: 24px;
}

hr {
}

#cit{
	text-align:center;
	color: grey;
}

#nav{
	background-color: #add8e6;
	float: left;
	width: 10%;
	height: 100px;
	padding: 10px;
	margin: 10px;
	border-radius: 15px;
}

