<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="utf-8">
    <title>Urban Heat Island</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/ascii.css">
  </head>
  <body>
	<h1>Urban Heat Island</h1>
	<p id = "cit"> A Citizen Science project </p>
	<div id = "nav">
	<a href="/data">hi</a>
	
	</div>
	<h2>What is Urban Heat Island?</h2>
	<p>Urban Heat Island is the effect of built-up areas where vegetation has been removed that are now hotter than they were before the build up.</p>
  </body>
</html>
